<% @categories.each do |f|%>
  <%= link_to user_category_path(current_user, f), class: "link" do %>

    <div class="case">
    <p><%= group_avatar(f.image) %></p>
      <div class="name">
        <p><%= f.name %> $<%= f.payment_total %></p>
        <p>Transactions:<%= f.total_payments %></p>
        <p><%= f.created_at.strftime('%d %b %Y') %></p>
      </div>
    <div>

  <% end %>
<% end %>



<%= link_to "Add Category", new_user_category_path, class: "button" %>

