<ul class="category-list">
        <li class="list-item">
          <div class="fill"><%= group_avatar(@categories.image) %></div>
          <div class="cat-container">
            <div class="fill">
              
                  <div class="name-container namee">
                    <div class="fill"> <%= @categories.name %> </div>
                    <div class="fill">$<%= @categories.payment_total %></div>
                  </div>
                
            </div>
            
            <div class="pay-and-date">
              <p class="list-item-pay">Transactions: <%= @categories.total_payments %></p>
              <p class="list-item-it"><%= @categories.created_at.strftime('%d %b %Y') %></p>
            <div>
          </div>
          <b><%= button_to "Delete", user_category_path, class: "del-btn fill", method: :delete %></b>
        </li>
</ul>


<%= render partial: "payments/payment", locals: { payments: @payments } %>

<%= link_to "Add Payment", new_user_category_payment_path(current_user, @categories), class: "button" %>



